:root {
  --background-color: #161617;
  --text-color: #dddddd;
  --button-background-color: #8F847D;
  --title-color: #69544F;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 996px;
  padding: 32px;

}

section {
  margin-bottom: 64px;
}

.navigation {
  display: flex;
  gap: 24px;
  padding: 16px 32px;
  position: fixed;
  background-color: var(--background-color);
  width: 100%;
  z-index: 5;
  max-width: 996px;
}

.navigation a {
  text-decoration: none;
  transition: 0.2s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all .2s;
}

.navigation a:hover {
  color: var(--title-color);
  border-bottom: 1px solid var(--title-color);
}

.landing-section {
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 8px 0;
  max-width: 310px;
  font-size: 64px;
  text-shadow: 0px 4px 4px #97969686;
}

.profile-picture-wrapper {
  position: relative;
  width: 260px;
}




.profile-picture {
  width: 260px;
  border-radius: 50%;
}

.slashes {
  position: absolute;
  top: 200px;
  font-size: 2.5rem;
  font-weight: 500;

}

.profile-picture-border {
  width: 260px;
  height: 260px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -8px;

}

.plus1,
.plus2,
.plus3 {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
}

.plus1 {
  top: 16px;
  right: 16px;
}

.plus2 {
  top: 8px;
  right: 32px;
}

.plus3 {
  top: 0;
  right: 16px;
}

.button-wrapper {
  position: relative;
}

.button-border,
button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
}

.button-border {
  border: 1px solid var(--text-color);
  position: absolute;
  top: 12px;
  left: -5px;
}

button {
  border: none;
  background-color: var(--button-background-color);
  margin-top: 16px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#about,
#skills,
#contact,
#projects {
  color: var(--title-color);
  margin-bottom: 32px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.experiences-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

strong {
  font-weight: 600;
}

.skills-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 64px;
  margin-left: 8px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.project-single {
  width: 280px;
  text-align: justify;
  padding: 8px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
}

.project-single img {
  width: 100%;
  height: 200px;
}


.contact-wrapper {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.links-wrapper a {
  color: var(--title-color);
  font-weight: 500;
  transition: 0.2s;
}

.links-wrapper a:hover {
  transform: scale(1.07);
}

.contact-us-image {
  width: 300px;
}

@media(max-width:767px) {
  .landing-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}